#battleBoard {
  align-items: center;
  text-align: center;
  background-color: lightyellow;
  height: 900px;
  width: 1900px;
}

#activeCard {
  position: absolute;
  left: 45%;
  bottom: 13%;
  max-width: 240px;
  max-height: 330px;
}

#opponentActiveCard {
  position: absolute;
  left: 45%;
  top: 13%;
  max-width: 240px;
  max-height: 330px;
}

.opponentDiscardPileClass {
  width: 11vw;
  position: absolute;
  left: 7%;
}

.cardOutline {
  border: 10px;
  width: 100px;
  height: 140px;
  outline-style: dashed;
  color: darkgray;
}

.cardOutlineRow {
  width: 900px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
}

.cardOutlinePrizesEnemy {
  width: 300px;
  height: 400px;
  background-color: aqua;
  position: relative;
  bottom: 150px;
  left: 75%;
}

.cardOutlinePrizesMine {
  width: 300px;
  height: 400px;
  background-color: teal;
  position: relative;
  bottom: 75px;
  left: 5%;
}

.myBenchOutline {
  position: absolute;
  left: 500px;
  bottom: 0px;
}

.attackButton {
  position: absolute;
  left: 25%;
  bottom: 105px;
}

.attachEnergyButton {
  position: absolute;
  left: 30px;
  top: 5%;
}

.hp {
  position: absolute;
  left: 59%;
  bottom: 295px;
  width: 60px;
  color: red;
  font-weight: bold;
}

#hand {
  position: absolute;
  background-color: pink;
  width: 300px;
  height: 200px;
  right: 5%;
}

img {
  /* max-width: 90%; */
}

@media (max-height: 890px) {
  .battleBoard {
      width: 100%;
  }
  .displayedCard {
      width: 100%;
  }
}
